@(currentPage: com.avaje.ebean.Page[Tweet], tweetForm: Form[Tweet])

@import helper._

@main("Tweet BBS") {
    @form(routes.Application.newTweet()) {

        @inputText(tweetForm("content"))

        <input type="submit" value="送信">
    }
    
    <ul>
        @for(tweet <- currentPage.getList) {
            <li>
                @tweet.postDate
                @tweet.content

                @form(routes.Application.deleteTweet(tweet.id)) {
                    <input type="submit" value="削除">
                }
            </li>
        }
    </ul>

    @if(currentPage.hasPrev()) {
        <a href="/tweets?page=@(currentPage.getPageIndex() - 1)">前へ</a>
    }
    @if(currentPage.hasPrev() && currentPage.hasNext()) {
        /
    }
    @if(currentPage.hasNext()) {
        <a href="/tweets?page=@(currentPage.getPageIndex() + 1)">次へ</div>
    }
}
