@(currentPage: com.avaje.ebean.Page[Tweet], tweetForm: Form[Tweet])

@import helper._

@main("Tweet BBS") {
    @form(routes.Application.newTweet(currentPage.getPageIndex())) {
        <textarea id="content" name="content"></textarea>
        @for(error <- tweetForm("content").errors) {
            <p>@Messages(error.message)</p>
        }
        <input type="submit" value="送信">
    }
    
    <ul>
        @for(tweet <- currentPage.getList) {
            <li style="list-style-type: none;">
                <span style="float:left;margin-right:10px;">@tweet.postDate</span>
                <span >@tweet.content</span>
                
                <a href="controllers.Application.deleteTweet(tweet.id, currentPage.getPageIndex())">削除</a>
            </li>
        }
    </ul>

    @if(currentPage.hasPrev()) {
        <a href="/tweets?page=@(currentPage.getPageIndex() - 1)">前へ</a>
    }
    @if(currentPage.hasPrev() && currentPage.hasNext()) {
        /
    }
    @if(currentPage.hasNext()) {
        <a href="/tweets?page=@(currentPage.getPageIndex() + 1)">次へ</div>
    }
}
